@model List<BlogListModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create" asp-controller="Blog" class="btn btn-info">New Blog</a>
<table class="table table-bordered table-hover">
    <tbody>
    @foreach (var blog in Model)
    {
        <tr>
            <td>@blog.Title</td>
            <td>
                <a asp-action="Update" asp-route-id="@blog.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Delete" asp-route-id="@blog.Id" class="btn btn-warning">Delete</a>
            </td>
        </tr>
    }
    </tbody>

</table>